/*------------ Contact Form ---------------------*/
form{
    width: 450px;
    margin: auto;
    background-color: rgba(139, 150, 161, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 15px;
}
    
.tittle-form{
    color:#fff;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}
    
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
    
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    
}
#bt{
    background-color: #31384A;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
#bt:hover {
    cursor: pointer;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}